.search-container {
    margin: 20px;
    margin-right: 50px;

    .search-block {
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 0 10px;
        position: relative;

        input {
            width: 680px;
            height: 35px;
            font-size: 14px;
            outline-offset: 0;
            outline: none;
            border: none;
            background-color: #000;
            color: #fff;
        }

        ::placeholder {
            color: #fff;
            opacity: 1;
        }
    }
}

